@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-svg-core/styles.css';


@font-face {
    font-family: 'gabarito-regular';
    src: url('../styles/fonts/Gabarito/static/Gabarito-Regular.ttf');
}

@font-face {
    font-family: 'gabarito-bold';
    src: url('../styles/fonts/Gabarito/static/Gabarito-Bold.ttf');
}

@font-face {
    font-family: 'gabarito-black';
    src: url('../styles/fonts/Gabarito/static/Gabarito-Black.ttf');
}

*{
    font-family: 'gabarito-regular' !important;
}

input::placeholder {
    color: black !important;
}

.blue-gradient {
    background-image: linear-gradient(to right, #007bff00, #064bcb31);   
}

.orange-gradient {
    background-image: linear-gradient(to right, #007bff00, #f3a8533e);   
}