@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'gabarito-regular';
    src: url('../styles/fonts/Gabarito/static/Gabarito-Regular.ttf');
}

@font-face {
    font-family: 'gabarito-bold';
    src: url('../styles/fonts/Gabarito/static/Gabarito-Bold.ttf');
}

@font-face {
    font-family: 'gabarito-black';
    src: url('../styles/fonts/Gabarito/static/Gabarito-Black.ttf');
}

*{
    font-family: 'gabarito-regular' !important;
}

input::placeholder {
    color: black !important;
}